# Общие исключения Python
__pycache__/
*.pyc
*.pkl

# Исключение виртуальной среды
venv/
*.env

# Исключения для Django
*.sqlite3
db.sqlite3
migrations/

# Исключения для Node.js и фронтенда
node_modules/
.next/
*.log

# Исключение конфигурационных файлов и системных папок
.idea/
.DS_Store

# Исключение выходных файлов и артефактов сборки
*.out
*.log


# Исключение локальных конфигурационных файлов
*.local
.env.local